@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

.font-noto-sans-mono {
  font-family: var(--font-noto-sans-mono), monospace;
}

.font-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
